<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeMngSystem"
        tools:targetApi="31">
        <activity
            android:name=".customer.ProfileActivity"
            android:parentActivityName=".customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditOrderStatusActivity"
            android:parentActivityName=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CreateDrinkActivity"
            android:parentActivityName=".admin.AdminListDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminListOrderActivity"
            android:exported="false"
            android:parentActivityName=".admin.AdminActivity" />
        <activity
            android:name=".admin.AdminListDrinkActivity"
            android:exported="false"
            android:parentActivityName=".admin.AdminActivity" />
        <activity
            android:name=".admin.AdminListUserActivity"
            android:exported="false"
            android:parentActivityName=".admin.AdminActivity" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".customer.OrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".customer.OrderHistoryActivity" />
        <activity
            android:name=".customer.OrderHistoryActivity"
            android:exported="false"
            android:parentActivityName=".customer.CustomerActivity" />
        <activity
            android:name=".customer.CheckoutActivity"
            android:exported="false"
            android:parentActivityName=".customer.CartActivity" />
        <activity
            android:name=".customer.CartActivity"
            android:exported="false"
            android:parentActivityName=".customer.CustomerActivity" />
        <activity
            android:name=".customer.DrinkDetailActivity"
            android:exported="false"
            android:parentActivityName=".customer.CustomerActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerActivity"
            android:exported="false"
            android:label="Menu" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>